<div id="gameboard">
  <div class="row">
    <div id="cell1" class="cell lt" onclick="handleClick(1)" data-ng-click="click()"></div>
    <div id="cell2" class="cell mt" onclick="handleClick(2)"></div>
    <div id="cell3" class="cell rt" onclick="handleClick(3)"></div>
  </div>

  <div class="row">
    <div id="cell4" class="cell lc" onclick="handleClick(4)"></div>
    <div id="cell5" class="cell mc" onclick="handleClick(5)"></div>
    <div id="cell6" class="cell rc" onclick="handleClick(6)"></div>
  </div>

  <div class="row">
    <div id="cell7" class="cell lb" onclick="handleClick(7)"></div>
    <div id="cell8" class="cell mb" onclick="handleClick(8)"></div>
    <div id="cell9" class="cell rb" onclick="handleClick(9)"></div>
  </div>
</div>
