<div id="gameboard" >
  <div class="row">
    <div id="cell1" data="1" data_price="item_price" data_quantity="quantity" class="cell lt {{ cells[0] }}" data-ng-click="clickInAngular($event)">{{ cells[0] }}</div>
    <div id="cell2" class="cell mt" data-ng-click="clickInAngular(2)">{{ cells[1] }}</div>
    <div id="cell3" class="cell rt" onclick="handleClick(3)"></div>
  </div>

  <div class="row">
    <div id="cell4" class="cell lc" onclick="handleClick(4)"></div>
    <div id="cell5" class="cell mc" onclick="handleClick(5)"></div>
    <div id="cell6" class="cell rc" onclick="handleClick(6)"></div>
  </div>

  <div class="row">
    <div id="cell7" class="cell lb" onclick="handleClick(7)"></div>
    <div id="cell8" class="cell mb" onclick="handleClick(8)"></div>
    <div id="cell9" class="cell rb" onclick="handleClick(9)"></div>
  </div>
</div>

currentSymbol: {{currentSymbol}}

<div>Number of wins: {{numberOfWins}}</div>
<div>{{minutes}}:{{seconds}}</div>

<button data-ng-click="startTimer()">Start</button>
<button data-ng-click="stopTimer()">Stop</button>
<button data-ng-click="reset()">Reset!</button>
<button data-ng-click="getName()">Name Please</button>
<button data-ng-click="addWinToLeaderBoard()">Add Win!</button>

<ul>  
  <li>LeaderBoard!</li>
  <li data-ng-repeat="(name, score) in leaderData.name">{{name}}: {{score}}</li>

</ul>
<!-- {{userName}} -->


<a data-ng-show="numberOfWinning == 3" href="#/how_to">How To</a>

<div data-tickle-me="12" data-my-color="green">
  Div With Out New Directive
</div>















